{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    {% if produits | length > 0 %}
      <table class='table'>
        <thead>
          <tr>
            <td>Produit</td>
            <td>Prix</td>
            <td>Quantite</td>
            <td>Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for produit in produits %}
            <tr>
              <td> {{ produit.article.namearticle }}</td>
              <td> {{ produit.article.price }} </td>
              <td> {{ produit.quantity }}</td>
              <td> {{ produit.article.price * produit.quantity }}</td>
              <td> <a href="#" class="btn btn-danger btn-sm">
                <img src="/img/del.png">
              </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> C VIDE </p>
    {% endif %}
{% endblock %}
